html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #fff;
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #000;
    width: 1600px;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    font-weight: 900;
    color: #ff0000;
}

h2 {
    background-color: #228b22;
    color: #fff;
    padding: 5px;
}


/*section hero*/

.text-hero {
    width: 100px;
    height: 75px;
    background-color: #0000ff;
    color: #fff;
    margin-bottom: 100px;
}

.text-color {
    color: #ff0000;
}

.access {
    margin-left: 90px;
}


/*section future*/


/*section skills*/

.skills-header {
    padding: 50px 40px;
}

.list {
    font-size: 30px;
    border: 2px solid #000;
}